Repository Kaybarax/todo-list-turborepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @web-team, @mobile-team, @backend-team, @data-team, @blockchain-team, @ui-team, @tooling-team, @devops-team, @docs-team

Complete task 1 and 2
  .kiro/specs/monorepo-modernization/design.md
  .kiro/specs/monorepo-modernization/requirements.md
  .kiro/specs/monorepo-modernization/tasks.md
  package.json
  packages/config-eslint/base.js
  packages/config-eslint/nestjs.js
  packages/config-eslint/nextjs.js
  packages/config-eslint/package.json
  packages/config-eslint/react-native.js
  packages/config-eslint/solidity.js
  packages/config-jest/jest.config.base.js
  packages/config-jest/jest.config.nestjs.js
  packages/config-jest/jest.config.nextjs.js
  packages/config-jest/jest.config.react-native.js
  packages/config-jest/mocks/fileMock.js
  packages/config-jest/package.json
  packages/config-jest/setup-tests-react-native.js
  packages/config-ts/base.json
  packages/config-ts/library.json
  packages/config-ts/nestjs.json
  packages/config-ts/nextjs.json
  packages/config-ts/package.json
  packages/config-ts/react-native.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Owners: @project-lead, @tooling-team

feat(web): initialize Next.js 14 application with App Router
  apps/web/.eslintrc.js
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/todos/page.tsx
  apps/web/src/app/wallet/page.tsx
  apps/web/src/components/TodoList/TodoList.tsx
  apps/web/src/components/TodoList/__tests__/TodoList.test.tsx
  apps/web/src/main.tsx
  apps/web/src/test/setup.ts
  apps/web/src/utils/logger.ts
  apps/web/src/utils/tracing.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  apps/web/vitest.config.ts
Owners: @web-team

feat(web): implement comprehensive todo management interface
  apps/web/src/app/todos/page.tsx
  apps/web/src/components/TodoForm.tsx
  apps/web/src/components/TodoItem.tsx
  apps/web/src/components/TodoList.tsx
  apps/web/src/lib/sampleData.ts
  apps/web/src/store/todoStore.ts
Owners: @web-team

feat(web): integrate WalletConnect for blockchain connectivity
  apps/web/src/app/layout.tsx
  apps/web/src/app/wallet/page.tsx
  apps/web/src/components/WalletConnect.tsx
  apps/web/src/components/WalletProvider.tsx
Owners: @web-team

feat(web): implement blockchain todo storage functionality
  apps/web/src/app/todos/page.tsx
  apps/web/src/components/BlockchainStats.tsx
  apps/web/src/components/TodoItem.tsx
  apps/web/src/components/TransactionStatus.tsx
  apps/web/src/services/blockchainService.ts
  apps/web/src/store/todoStore.ts
Owners: @web-team

Complete task 3
  .kiro/specs/monorepo-modernization/tasks.md
  .vscode/settings.json
Owners: @project-lead

feat(mobile): initialize new Expo React Native application
  apps/mobile/.eslintrc.js
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/app/_layout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/todos.tsx
  apps/mobile/app/wallet.tsx
  apps/mobile/assets/.gitkeep
  apps/mobile/babel.config.js
  apps/mobile/index.js
  apps/mobile/jest.config.js
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/tsconfig.json
Owners: @mobile-team

feat(mobile): implement comprehensive mobile todo interface
  apps/mobile/app/todos.tsx
  apps/mobile/src/components/TodoForm.tsx
  apps/mobile/src/components/TodoItem.tsx
  apps/mobile/src/components/TodoList.tsx
  apps/mobile/src/store/todoStore.ts
Owners: @mobile-team

feat(mobile): integrate mobile wallet connectivity
  apps/mobile/app/_layout.tsx
  apps/mobile/app/wallet.tsx
  apps/mobile/src/components/WalletConnect.tsx
  apps/mobile/src/providers/WalletProvider.tsx
Owners: @mobile-team

feat(mobile): implement mobile blockchain functionality
  apps/mobile/app/todos.tsx
  apps/mobile/src/components/BlockchainStats.tsx
  apps/mobile/src/services/blockchainService.ts
  apps/mobile/src/store/todoStore.ts
Owners: @mobile-team

Complete task 4
  .kiro/specs/monorepo-modernization/tasks.md
Owners: @project-lead

feat(api): initialize NestJS application structure
  apps/api/.eslintrc.js
  apps/api/instrumentation.ts
  apps/api/jest.config.js
  apps/api/nest-cli.json
  apps/api/next.config.js
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/app.module.ts
  apps/api/src/app.service.ts
  apps/api/src/app/api/v1/todos/[id]/route.ts
  apps/api/src/app/api/v1/todos/route.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/health/health.module.ts
  apps/api/src/health/health.service.ts
  apps/api/src/lib/db/__tests__/mongodb.test.ts
  apps/api/src/lib/db/mongodb.ts
  apps/api/src/lib/logger.ts
  apps/api/src/lib/tracing.ts
  apps/api/src/main.ts
  apps/api/src/middleware.ts
  apps/api/src/models/Todo.ts
  apps/api/src/models/__tests__/Todo.test.ts
  apps/api/test/jest-e2e.json
  apps/api/test/setup.ts
  apps/api/tsconfig.json
Owners: @backend-team

feat(api): implement todo API endpoints with validation
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/todo/dto/create-todo.dto.ts
  apps/api/src/todo/dto/query-todo.dto.ts
  apps/api/src/todo/dto/update-todo.dto.ts
  apps/api/src/todo/schemas/todo.schema.ts
  apps/api/src/todo/todo.controller.ts
  apps/api/src/todo/todo.module.ts
  apps/api/src/todo/todo.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
Owners: @backend-team

feat(api): integrate MongoDB with Mongoose and repository pattern
  apps/api/src/app.module.ts
  apps/api/src/config/database.config.ts
  apps/api/src/database/database.module.ts
  apps/api/src/todo/repositories/todo.repository.ts
  apps/api/src/todo/todo.module.ts
  apps/api/src/todo/todo.service.ts
Owners: @backend-team

feat(api): implement Redis caching layer
  apps/api/src/app.module.ts
  apps/api/src/health/health.service.ts
  apps/api/src/todo/todo.service.ts
Owners: @backend-team

feat(api): integrate OpenTelemetry instrumentation
  .kiro/specs/monorepo-modernization/tasks.md
  apps/api/.env.example
  apps/api/TELEMETRY.md
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/decorators/current-user.decorator.ts
  apps/api/src/auth/decorators/public.decorator.ts
  apps/api/src/auth/dto/auth-response.dto.ts
  apps/api/src/auth/dto/login.dto.ts
  apps/api/src/auth/dto/register.dto.ts
  apps/api/src/auth/guards/jwt-auth.guard.ts
  apps/api/src/auth/strategies/jwt.strategy.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/todo/todo.controller.ts
  apps/api/src/todo/todo.service.ts
  apps/api/src/user/schemas/user.schema.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  docker-compose.dev.yml
  otel-collector-config.yaml
Owners: @project-lead, @backend-team, @devops-team

feat(contracts): implement Solana program for decentralized todo storage
  apps/contracts/solana/Anchor.toml
  apps/contracts/solana/Cargo.toml
  apps/contracts/solana/README.md
  apps/contracts/solana/package.json
  apps/contracts/solana/programs/todo-program/Cargo.toml
  apps/contracts/solana/programs/todo-program/src/lib.rs
  apps/contracts/solana/scripts/deploy-devnet.ts
  apps/contracts/solana/scripts/deploy-localnet.ts
  apps/contracts/solana/scripts/deploy-mainnet.ts
  apps/contracts/solana/tests/todo-program.ts
  apps/contracts/solana/tsconfig.json
Owners: @blockchain-team

feat(solana): complete Solana program for todo storage
  apps/contracts/solana/PROGRAM_GUIDE.md
  apps/contracts/solana/examples/client-integration.ts
  apps/contracts/solana/package.json
  apps/contracts/solana/scripts/generate-types.ts
Owners: @blockchain-team

feat(polkadot): implement Polkadot pallet for todo management
  apps/contracts/polkadot/README.md
  apps/contracts/polkadot/examples/client.js
  apps/contracts/polkadot/examples/package.json
  apps/contracts/polkadot/pallet-todo/Cargo.toml
  apps/contracts/polkadot/pallet-todo/src/lib.rs
  apps/contracts/polkadot/pallet-todo/src/mock.rs
  apps/contracts/polkadot/pallet-todo/src/tests.rs
  apps/contracts/polkadot/runtime/Cargo.toml
  apps/contracts/polkadot/runtime/src/lib.rs
Owners: @blockchain-team

feat(polygon): implement Polygon smart contract for todo management
  apps/contracts/polygon/.env.example
  apps/contracts/polygon/README.md
  apps/contracts/polygon/contracts/TodoList.sol
  apps/contracts/polygon/contracts/TodoListFactory.sol
  apps/contracts/polygon/hardhat.config.js
  apps/contracts/polygon/package.json
  apps/contracts/polygon/scripts/create-sample-todos.js
  apps/contracts/polygon/scripts/create-todo-list.js
  apps/contracts/polygon/scripts/deploy.js
  apps/contracts/polygon/test/TodoList.test.js
  apps/contracts/polygon/test/TodoListFactory.test.js
Owners: @blockchain-team

.github/CODEOWNERS:

# This file defines who is responsible for code in the repository
# Each line is a file pattern followed by one or more owners
# Order is important; the last matching pattern takes precedence

# Default owners for everything in the repo
* @project-lead

# Apps
/apps/web/ @web-team
/apps/mobile/ @mobile-team
/apps/api/ @backend-team
/apps/ingestion/ @data-team
/apps/contracts/ @blockchain-team

# Packages
/packages/ui-web/ @ui-team
/packages/ui-mobile/ @ui-team
/packages/services/ @backend-team
/packages/config-eslint/ @tooling-team
/packages/config-ts/ @tooling-team
/packages/config-jest/ @tooling-team
/packages/config-release/ @devops-team

# Infrastructure
/infra/ @devops-team
/docker-compose*.yml @devops-team
/.github/workflows/ @devops-team

# Database
/db/ @data-team

# Documentation
/docs/ @docs-team
/*.md @docs-team

# Configuration files
/turbo.json @tooling-team
/tsconfig.json @tooling-team
/.eslintrc.js @tooling-team
/.prettierrc @tooling-team
/.commitlintrc.cjs @tooling-team
/.lintstagedrc.cjs @tooling-team
